---
import "../styles/utils/lenis.css";
import "../styles/utils/reset.css";
import "../styles/utils/helpers.css";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<slot name="head" />
	<body>
		<slot slot="body" />
		<script src="../scripts/utils/lenis.js"></script>
		<script src="../scripts/utils/animation.js"></script>
		<script src="../scripts/main.js"></script>
	</body>
</html>

